.icon-dow{
  background-image: url('../images/sprite.png');
  background-position: 0px 0px;
  width: 30px;
  height: 30px;
  @include media("retina2x", ">desktop") {
    background-image: url('../images/sprite-2x.png');
    background-size: 60px 30px;
    }
  }
.icon-down{
  background-image: url('../images/sprite.png');
  background-position: -30px 0px;
  width: 30px;
  height: 30px;
  @include media("retina2x", ">desktop") {
    background-image: url('../images/sprite-2x.png');
    background-size: 60px 30px;
    }
  }
