.down {
    display: inline-block;
    @extend .icon-dow;
    cursor: pointer;
    &:hover {
        @extend .icon-down;
    }
}



.teaser {
    &__desc{} 
    &__date{} 
    &__btn{
    	@extend .btn;
    	@extend .btn-default;
    	background-color: green;
    	&:hover{
          background-color: yellow;
    	}
    }
}
