include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('Главная')
    include pug/styles.pug
  body
    include pug/svg.pug

    //- Code here


.container
 .row
  .col-md-4
   .teaser
    .teaser__inner
     .teaser__img
      img(src="../qwe.png", alt="")
     .teaser__desc 
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ex, fugiat adipisci aliquid obcaecati quo quod laudantium, omnis voluptates accusamus ducimus natus dolore soluta sequi dolorem sint nihil. Repellendus reiciendis eveniet quo minima, quisquam excepturi voluptate eum ex perspiciatis amet dolor ab sequi, esse officia ipsam neque et aut. Facere.
     .teaser__date 04.04.2017
     button.teaser__btn button

   	 
	
mixin thumbnail(imageName, caption)
  .thumbnail
    img(src='/img/'+imageName+'.jpg')
    h4.image-caption= caption

+thumbnail('sasas','asasasasa') 
+thumbnail('sasas','asasasasa') 
+thumbnail('sasas','asasasasa') 
+thumbnail('sasas','asasasasa') 
+thumbnail('sasas','asasasasa') 


include pug/scripts.pug
